@media (max-width: 1200px) {
  .header-right img {
    padding: 0 1rem;
    max-width: 60vh;
  }
  #LCA {
    height: 100vh;
  }
  .navbar {
    position: absolute;
    top: 0;
  }
  .lca {
    height: 50vh;
    padding-top: 2em;
  }
  .image-item img {
    max-width: 100%;
    margin-top: 0.5rem;
  }
  .text p {
    width: 50vw;
  }
  h2 {
    font-size: 3rem;
  }
  .chart-container {
    width: 40%;
    /* position: absolute;
    margin: 0 auto; */
    margin-top: 8%;
  }
  .image-item {
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 1rem;
  }
  .header-left h1 {
    font-size: 2rem;
  }

  .navbar {
    padding: 2rem 1rem;
  }

  .header-right img {
    right: 0;
    max-width: 45vh;
  }
  .lca {
    padding: 1rem;
    height: fit-content;
  }
  .lac-top p {
    width: 80%;
    margin: 0.5em auto;
  }
  .lac-bottom {
    margin-top: 1rem;
  }
  .lac-top h2 {
    margin-top: 2rem;
  }
  .ica-item {
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .ica-item img {
    margin-bottom: 1rem;
  }
  .lac-bottom {
    flex-direction: column;
  }
  h2 {
    font-size: 1.6rem;
  }
  .text p {
    width: 90vw;
  }
}
