@media (max-width: 1200px) {
  .header-right img {
    padding: 0 1rem;
    max-width: 60vh;
  }
  #LCA {
    height: 100vh;
  }
  .navbar {
    position: absolute;
    top: 0;
  }
  .lca {
    height: 100vh;
    padding-top: 2em;
  }
  .image-item img {
    max-width: 100%;
    margin-top: 0.5rem;
  }
  .text p {
    width: 50vw;
  }
  h2 {
    font-size: 3rem;
  }
  .chart-container {
    width: 40%;
    /* position: absolute;
    margin: 0 auto; */
    margin-top: 8%;
  }
  .image-item {
    width: 100vw;
    height: 100vh;
  }
  .scrollTop {
    bottom: 10%;
    right: 5%;
  }
}
@media (max-width: 960px) {
  .lca {
    height: 80vh;
  }
  .mobile {
    display: none;
  }
}
@media (max-width: 760px) {
  .header {
    padding: 1rem;
  }
  .header-left h1 {
    font-size: 2rem;
  }

  .navbar {
    padding: 2rem 1rem;
  }
  .nav-item {
    padding-left: 1rem;
  }

  .header-right img {
    right: 0;
    max-width: 45vh;
  }
  .lca {
    padding: 1rem;
    height: fit-content;
  }
  .lac-top p {
    width: 80%;
    margin: 0.5em auto;
  }
  .lac-bottom {
    margin-top: 1rem;
  }
  .lac-top h2 {
    margin-top: 2rem;
  }
  .ica-item {
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .ica-item img {
    margin-bottom: 0.5rem;
  }
  .lac-bottom {
    flex-direction: column;
  }
  h2 {
    font-size: 1.6rem;
  }
  .text p {
    width: 90vw;
  }
  .group {
    font-size: 0.4rem;
    padding: 3rem 0;
    line-height: 160%;
  }
  .group p {
    margin-bottom: 0.5em;
  }
  .scrollTop {
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 8%;
  }
  .scrollTop i {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 15px;
  }
  /* .scrollTop {
    display: none;
  } */

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
