@media (max-width: 1200px) {
  * {
    box-sizing: border-box;
  }
  .header-right img {
    padding: 0 1rem;
    max-width: 60vh;
  }
  #LCA {
    height: 100vh;
  }
  .navbar {
    position: absolute;
    top: 0;
  }
  .lca {
    height: 50vh;
    padding-top: 2em;
  }
  .image-item img {
    max-width: 90%;
    right: 0;
  }
  .text p {
    width: 50vw;
  }
  h2 {
    font-size: 3rem;
  }
  .chart-container {
    width: 40%;
    /* position: absolute;
    margin: 0 auto; */
    margin-top: 8%;
  }
  .image-item {
    width: 100vw;
    height: 100vh;
  }
}
