:root {
  /* color */
  --color-black: #3c413b;
  --color-white: #f4f6f3;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Archivo", sans-serif;
}
body {
  min-height: 100vh;
}
.global-width {
  max-width: 1400px;
}

/* navber */
.navbar {
  width: 100vw;
  height: 20px;
  background-color: #f4f6f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: absolute;
}
.logo a {
  text-decoration: none;
}
.nav-menu {
  display: flex;
}
.nav-item {
  margin-left: 3rem;
}
/* header */
.header {
  height: 100vh;
  width: 100vw;
  background-color: #dce2d8;
  display: flex;
  justify-content: space-between;
}
.header-left {
  padding: 10em 0;
}
.header-left h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
  color: var(--color-black);
  line-height: 120%;
  font-weight: 600;
}
.header-left p {
  line-height: 130%;
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 400;
  margin-bottom: 2em;
}
.header-left button {
  border-style: none;
  font-size: medium;
  padding: 1em 0.5em;
  background-color: #51af65;
  border-radius: 25px;
  width: 12%;
  position: absolute;
  color: var(--color-white);
}
.header-right img {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 35vw;
}
.lca {
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.lac-top {
  text-align: center;
}
.lac-bottom {
  display: flex;
}
.ica-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ica-item img {
  width: 90%;
  margin-bottom: 10%;
}
/* main */
.sticky-elem {
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0 auto;
}
.main-image {
  height: 100vh;
  width: 100vw;
  background-color: #496266;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-item {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.image-item h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.image-item img {
  max-width: 100%;
  height: auto;
}
.main-text {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 30%;
  text-align: center;
}
.text {
  margin-bottom: 60vh;
}
.text p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em 0.5em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  line-height: 140%;
}
