:root {
  /* color */
  --color-black: #3c413b;
  --color-white: #f4f6f3;
  --color-green: #58ba7b;
  --color-sub-title: #95afaa;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}
p {
  font-family: "Pretendard-Regular";
}
h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
}
section {
  width: 100vw;
}
img {
  max-width: 100%;
  height: auto;
}

/* navber */
.navbar {
  width: 100vw;
  height: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 2.5em 6em;
  top: 0;
  left: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85rem;
  opacity: 0.8;
}
.logo a {
  text-decoration: none;
  color: var(--color-green);
  font-weight: bold;
  line-height: 140%;
}

.nav-menu {
  display: flex;
}
.nav-item {
  padding-left: 3rem;
  color: var(--color-black);
  opacity: 0.8;
  flex-wrap: nowrap;
}
.nav-item:hover {
  opacity: 1;
  color: black;
}
/* header */
.header {
  height: 100vh;
  width: 100vw;
  background-color: #dce2d8;
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
}
.header-left {
  padding: 10em 0;
}
.header-left h1 {
  font-size: 3rem;
  margin-bottom: 0.6em;
  color: var(--color-black);
  line-height: 120%;
}
.header-left p {
  line-height: 130%;
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 400;
  margin-bottom: 2.5em;
  margin-left: 0.1em;
  opacity: 0.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header-left .btn {
  border-style: none;
  font-size: medium;
  padding: 1em 0.5em;
  background-color: #51af65;
  border-radius: 25px;
  min-width: 10em;
  position: absolute;
  color: #dce2d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-right img {
  position: absolute;
  bottom: 0;
  right: 3em;
  padding: 0 2rem;
  max-width: 80vh;
}
.lca {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-black);
  padding: 0 5em;
}
.lac-top {
  text-align: center;
}
.lac-top h2,
.lac-top span {
  color: var(--color-green);
  font-weight: bold;
}

.lac-top h2 {
  margin-bottom: 1em;
}
.lac-top p {
  line-height: 150%;
  margin-top: 0.5em;
}
.lac-bottom {
  display: flex;
  margin-bottom: 4rem;
}
.ica-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.ica-item span {
  font-weight: bolder;
  color: #617c80;
}
.ica-item img {
  max-width: 88%;
  margin-bottom: 10%;
  transition: 1s;
  border-radius: 50%;
}

/* sticky */
section.scroll-content {
  background: #496266;
}
.scroll-images {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}
.image-item {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s;
}

.visible {
  opacity: 1;
}
.image-item h2 {
  margin-bottom: 0.3em;
  color: var(--color-sub-title);
  text-shadow: 0px 2px 5px #2f4f4f;
}
.image-item .main-title {
  color: var(--color-white);
}
.image-item img {
  max-width: 65%;
  box-shadow: 0px 0px 20px #2f4f4f;
}

/* text */
.scroll-text {
  position: relative;
  width: 100%;
}
.text {
  margin-bottom: 60vh;
}
.text p {
  text-align: center;
  padding: 1em 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-bottom: 1em;
  width: 30vw;
  border-radius: 0.5em;
  line-height: 140%;
  color: var(--color-black);
  box-shadow: 1px 1px 3px var(--color-black);
}
.text:last-child,
.text p:last-child {
  margin-bottom: 0;
}
.none {
  opacity: 0;
}
.footer {
  background-color: #496266;
  overflow: hidden;
}
.group {
  width: 100%;
  color: var(--color-black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  background-color: var(--color-sub-title);
  text-align: center;
  padding: 2.5em;
  opacity: 0.5;
}
.group p {
  margin-bottom: 0.3em;
}
/* scrollTopBtn */
.scrollTop {
  width: 80px;
  height: 80px;
  background-color: var(--color-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.scrollTop i {
  font-size: 3rem;
  color: var(--color-white);
}
.scrollTop.visible {
  opacity: 1;
}
.mobile {
  display: none;
}
